{{#if currentUser}}
<form method="POST" action="/profile/{{user._id}}/manage" enctype="multipart/form-data">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputOrganization">Organization</label>
      <input type="text" name="organization" class="form-control" id="inputOrganization" value="{{user.organization}}"></input>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputFirstName">First Name</label>
      <input type="text" name="firstName" class="form-control" id="inputFirstName" value="{{user.firstName}}">
    </div>
    <div class="form-group col-md-4">
      <label for="inputLastName">Last Name</label>
      <input type="text" name="lastName" class="form-control" id="inputLastName" value="{{user.lastName}}">
    </div>
    <div class="form-group col-md-2">
      <label for="inputGradYear">Grad Year</label>
    <input type="text" name="year" class="form-control" id="inputGradYear" value="{{user.year}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="height">Height</label>
      <input type="text" name="height" class="form-control" id="height" value="{{user.height}}">
    </div>
    <div class="form-group col-md-6">
      <label for="weight">Weight</label>
      <input type="text" name="weight" class="form-control" id="weight" value="{{user.weight}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" name="city" class="form-control" id="inputCity" value="{{user.city}}">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <input type="text" name="state" class="form-control" id="inputState" value="{{user.state}}">
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" name="zip" class="form-control" id="inputZip" value="{{user.zip}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="weightedGpa">Weighted GPA</label>
      <input type="text" name="weightedGpa" class="form-control" id="weightedGpa" value="{{user.weightedGpa}}">
    </div>
    <div class="form-group col-md-6">
      <label for="unweightedGpa">Unweighted GPA</label>
      <input type="text" name="unweightedGpa" class="form-control" id="unweightedGpa" value="{{user.unweightedGpa}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputHudl">Hudl Link</label>
      <input type="text" name="hudl" class="form-control" id="inputHudl" value="{{user.hudl}}">
    </div>
    <div class="form-group col-md-4">
      <label for="inputTwitter">Twitter Link</label>
      <input type="text" name="twitter" class="form-control" id="inputTwitter" value="{{user.twitter}}">
    </div>
    <div class="form-group col-md-4">
      <label for="inputInstagram">Instagram Link</label>
      <input type="text" name="instagram" class="form-control" id="inputInstagram" value="{{user.instagram}}">
    </div>
  </div><br>
  <h3>Upload Game Highlights!</h3>

  <div class="form-row">
    <div class="form-group col-md-8">
      <div class="input-group-prepend">
      <span class="input-group-text">Upload</span>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputFile" name="">
      <label class="custom-file-label" for="inputFile">Upload Highlights!</label>
    </div>
    </div>
    <div class="form-group col-md-4">
      <b for="highlights">Or Link it Here!</b>
      <input type="text" name="highlights" class="form-control" id="highlights" value="{{user.highlights}}">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>

{{else}}

<div class="padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="https://via.placeholder.com/600x350">
                </div>
                <div class="col-sm-6 text-center">
                    <h2>All about RecruitHub</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                </div>
            </div>
        </div>
    </div>

    <div class="padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h4>Hello World</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="https://via.placeholder.com/250x200" class="img-responsive">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h4>RecruitHub</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="https://via.placeholder.com/250x200" class="img-responsive">
                </div>
            </div>
        </div>
    </div>

    <div id="fixed">
    </div>

    <div class="padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4>Here's about RecruitHub</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                </div>
                <div class="col-sm-6">
                    <img src="https://via.placeholder.com/600x350">
                </div>
            </div>
        </div>
    </div>

{{/if}}