<form method="POST" action="/profile/{{user._id}}/manage">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputOrganization">Organization</label>
      <input type="text" name="organization" class="form-control" id="inputOrganization" value="{{user.organization}}"></input>
    </div>
  </div>
  <div class="form-group">
    <label for="inputGradYear">Grad Year</label>
    <input type="text" name="year" class="form-control" id="inputGradYear" value="{{user.year}}">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="height">Height</label>
      <input type="text" name="height" class="form-control" id="height" value="{{user.height}}">
    </div>
    <div class="form-group col-md-6">
      <label for="weight">Weight</label>
      <input type="text" name="weight" class="form-control" id="weight" value="{{user.weight}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" name="city" class="form-control" id="inputCity" value="{{user.city}}">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <input type="text" name="state" class="form-control" id="inputState" value="{{user.state}}">
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" name="zip" class="form-control" id="inputZip" value="{{user.zip}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputHudl">Hudl Link</label>
      <input type="text" name="hudl" class="form-control" id="inputHudl" value="{{user.hudl}}">
    </div>
    <div class="form-group col-md-4">
      <label for="inputTwitter">Twitter Link</label>
      <input type="text" name="twitter" class="form-control" id="inputTwitter" value="{{user.twitter}}">
    </div>
    <div class="form-group col-md-4">
      <label for="inputInstagram">Instagram Link</label>
      <input type="text" name="instagram" class="form-control" id="inputInstagram" value="{{user.instagram}}">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>