<div class="row">
  <div class="col-sm-6 col-sm-offset-3 content">
    <a href="/profile/{{post.author._id}}">{{post.author.username}}</a><br>
    <br>
    <h1>{{post.content}}</h1><br>
    <a href="{{post.url}}">{{post.url}}</a><br><br>

    <b>Likes: {{post.totalLikes}}</b>
  </div>
</div>
{{!-- <div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-6">
      <form class="form-container" style="width: 30rem;">
        <div class="form-group">
          <p>{{post.author.username}}</p>
        </div>
        <div class="form-group">
          <h2>{{post.content}}</h2>
        </div>
        <div class="form-check">
          <a href="{{post.url}}">{{post.url}}</a>
        </div>
      </form>
    </div>
  </div>
</div> --}}

<form action="/posts/{{post._id}}/comments" method="post">
    <textarea class='form-control' name="content" placeholder="Comment"></textarea>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

<div style="margin-bottom: 5rem;">
  <h1 style="font-weight: 600;">Comments</h1><br>
  {{#each post.comments}}
    {{> comment comment=this postId=../post._id}}
  {{/each}}
</div>
