<div class="row">
  <div class="col-sm-6 col-sm-offset-3 content">
    <a href="/profile/{{post.author._id}}">{{post.author.username}}</a><br>
    <br>
    <h1>{{post.content}}</h1><br>
    <a href="{{post.url}}">{{post.url}}</a><br><br>

    <b>Likes: {{post.totalLikes}}</b>
  {{#if currentUser}}
      <a class="btn btn-warning" href="/posts/{{post._id}}/edit">Edit</a>
      <a class="btn btn-danger" href="/posts/{{post._id}}/delete">Delete</a>
  {{/if}}
  </div>
</div>


<form action="/posts/{{post._id}}/comments" method="post">
    <textarea class='form-control' name="content" placeholder="Comment"></textarea>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

<div style="margin-bottom: 5rem;">
  <h1 style="font-weight: 600;">Comments</h1><br>
  {{#each post.comments}}
    {{> comment comment=this postId=../post._id}}
  {{/each}}
</div>
