
{{#if currentUser}}
    <h1 style="text-align: center;">Post Feed!</h1><br>
    <br>
    
        <div class="post-alignment">
            <ul>
                {{#each posts}}
                    <li class="list-group-item">
                        <div class="post">
                            <div class="post-info">
                                <div class="post-date">
                                    <a href="profile/{{this.author._id}}"class="post-author">{{ this.author.username}}</a>
                                </div>
                                <span>{{this.createdAt}}</span><br><br>
                                <a class="post-title" href="posts/{{this._id}}">{{this.content}}</a>
                            <form class="post-like" data-id="{{this._id}}">
                                <button type="submit" class="btn btn-primary">Like</button>
                            </form>
                            <h4 class="total-likes" data-id="{{this._id}}">{{this.totalLikes}}</h4>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
        
{{else}}

    {{!-- <div id="home">
        <div class="landing-text">
            <h1>RecruitHub</h1>
            <h3>Recruiting platform for student-athletes.</h3>
            <a href='#' class="btn btn-primary btn-lg">Get Started</a>
        </div>
    </div> --}}

    <div class="padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="https://via.placeholder.com/600x350">
                </div>
                <div class="col-sm-6 text-center">
                    <h2>Welcome to RecruitLete</h2>
                    <p class="lead">An online platform strictly for student-athletes to expose their athletic and acadmeic abilities 
                                    and for college coaches to find student-athletes who can fit their program perfectly.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h4>Student-Athletes</h4>
                    <p>Be able to showcase who you are for college coaches to receive that scholarship you have been dreaming of getting!ß</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="https://via.placeholder.com/250x200" class="img-responsive">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h4>Coaches</h4>
                    <p>Browse through and use our search engine to filter through specific athletes that match you scouting report needs!</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="https://via.placeholder.com/250x200" class="img-responsive">
                </div>
            </div>
        </div>
    </div>

    <div id="fixed">
    </div>

    <div class="padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4>Here's about RecruitLete</h4>
                    <p>Here at RecruitLete, we prioritize the student-athletes. We want to give them the 
                        best and easiest way to expose their talents out to coaches all around the country.
                        We want every student-athlete to have the opportunity to present themselves to coaches
                        and, ultimately, receive a scholarship.
                    </p>
                    <p>For coaches, we prioritize an easy way to filter through student-athletes who match 
                        what they are looking for in their scouting report needs and, ultimately, find a 
                        hidden gem in an area where they haven't scouted yet.
                    </p>
                    <p>All in all, we want student-athletes to have an opportunity to receive a scholarship and 
                        for coaches to find their pieces that fits their team's puzzle as easy as possible
                    </p>
                </div>
                <div class="col-sm-6">
                    <img src="https://via.placeholder.com/600x350">
                </div>
            </div>
        </div>
    </div>

{{/if}}

{{!-- npm i -D handlebars@4.5.0 --}}