
<div class="form-row">
    <div class="form-group col-md-6">
    <h1>{{ user.username }}</h1>
    </div>
    <div class="form-group col-md-6">
    <h1>{{ user.year }}</h1>
    </div>
</div>
<div class="form-group">
    <h1>{{ user.email }}</h1>
</div>
<div class="form-group">
    <h1>{{ user.organization }}</h1>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
    <h1>{{ user.city }}</h1>
    </div>
    <div class="form-group col-md-4">
    <h1>{{ user.state}}</h1>
    </div>
    <div class="form-group col-md-2">
    <h1>{{ user.zip }}</h1>
    </div>
</div>
